/binaries/
/docs/
/emulators/
/RG/
/roms/
/ti83plus/ti83plus.inc
/ti83plus/ti83plus2.inc
/ti83plus/ti83plusAsm.inc
/toolchain/cache/
/toolchain/devpac8x/
/toolchain/tasm/
/toolchain/thirdparty/libjpeg-turbo/build/